* {
    margin: auto;
    overflow: hidden;
}

span {
    line-height: 1.5rem;
}

.game-stats {
    height: 100px;
    margin-top: 30px;
    width: 1210px;
}

.game-stats_player1 {
    color: rgb(145, 118, 79);
    float: left;
    height: 100%;
    width: 500px;
}

.game-stats_player2 {
    color: rgb(45, 112, 0); 
    height: 100%;
    text-align: end;
    width: 500px;
}

.game-stats_score {
    float: left;
    height: 100%;
    text-align: center;
    width: 200px;
}

.game-stats_score_counter{
    font-size: 2.5rem;
}

.game-stats_score_timer{
    color: rgb(206, 206, 206);
    font-size: 1.4rem;
}

.game-map {
    background: white;
    border: 5px solid black;
    height: 600px;
    position: relative;
    width: 1200px;
}

.building {
    background: url(./img/wall.png);
    background-size: cover;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 2;
}

.repairIcon, .fuelIcon {
    animation: rotateIcon 5s linear infinite;
    background: url(./img/repair.png);
    background-size: cover;
    height: 24px;
    margin: 13px 0 0 13px;
    position: absolute;
    width: 24px;
    z-index: 1;
}

.fuelIcon {
    animation: rotateIcon 5s linear infinite;
    background: url(./img/fuel.png);
    background-size: cover;
    height: 24px;
    margin: 13px 0 0 13px;
    position: absolute;
    width: 18px;
    z-index: 1;
}
    @keyframes rotateIcon {
        from { transform: rotateY(0deg) }
        to { transform: rotateY(360deg) }
    }


.tank1, .tank2{
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    transition: top 1s, left 1s;
    z-index: 2;
}

.tank1 { background-image: url("img/tank1.png") }
.tank2 { background-image: url("img/tank2.png") }



/* .barricade {
    position: absolute;
    width: 10px;
    height: 50px;
    background: black;
} */

.missile {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}
