* {
    margin: auto;
    overflow: hidden;
}

.game-stats {
    height: 100px;
    margin-top: 30px;
    width: 1210px;
}

.game-stats_player1 {
    color: rgb(145, 118, 79);
    float: left;
    height: 100%;
    width: 500px;
}

.game-stats_player2 {
    color: rgb(45, 112, 0); 
    height: 100%;
    text-align: end;
    width: 500px;
}

.game-stats_score {
    float: left;
    height: 100%;
    text-align: center;
    width: 200px;
}

.game-stats_score_counter{
    font-size: 2.5rem;
}

.game-stats_score_timer{
    color: rgb(206, 206, 206);
}

.game-map {
    background: white;
    border: 5px solid black;
    height: 600px;
    position: relative;
    width: 1200px;
}

.building {
    background: url(./img/wall.png);
    background-size: cover;
    height: 50px;
    position: absolute;
    width: 50px;
}

.repairIcon {
    background: url(./img/repair.png);
    background-size: cover;
    height: 24px;
    position: absolute;
    width: 24px;
    margin: 13px 0 0 13px;
    animation: rotateRepairIcon 5s linear infinite;
}
    @keyframes rotateRepairIcon {
        from { transform: rotateY(0deg) }
        to { transform: rotateY(360deg) }
    }

.tank1 {
    display: inline-block;
    background-image: url("img/tank1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    transition: top 1s, left 1s;
}

.tank2 {
    display: inline-block;
    background-image: url("img/tank2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    transition: top 1s, left 1s;
}

/* .barricade {
    position: absolute;
    width: 10px;
    height: 50px;
    background: black;
} */

.missile {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}
