* {
    margin: auto;
    overflow: hidden;
    font-family: sans-serif;
}

@font-face {
    font-family: 'army';
    src: url('/font/World\ Conflict\ .ttf');
}

span {
    line-height: 1.5rem;
}

.game-menu {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 970px;
    position: absolute;
    top: 0;
    width: 100%;
}

.game-menu-header {
    font-family: 'army';
    font-size: 8rem;
    font-weight: 400;
    color: rgb(145, 118, 79);
    margin-top: 7%;
}

.game-menu-tanks {
    display: flex;
    height: 200px;
    width: 85%;
}

.game-menu-tank1 {
    background: url(./img/tank1_menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 35%;
}

.game-menu-tank2 {
    background: url(./img/tank2_menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 35%;
}

.game-menu-controls {
    width: 80%;
    height: 20vh;
    display: flex;
    margin-bottom: 5%;
}

.game-menu-controls-left {
    width: 38%;
    height: 100%;
    background: url(./img/controls1.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.game-menu-button {
    background: rgb(190, 178, 161);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    height: 70px;
    text-transform: uppercase;
    width: 18%;
}

.game-menu-button:hover {
    background: rgb(149, 172, 134); 
}

.game-menu-controls-right {
    width: 38%;
    height: 100%;
    background: url(./img/controls2.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.game-stats {
    height: 100px;
    margin-top: 30px;
    width: 1210px;
}

.game-stats_player1 {
    color: rgb(145, 118, 79);
    float: left;
    height: 100%;
    width: 500px;
}

.game-stats_player2 {
    color: rgb(45, 112, 0); 
    height: 100%;
    text-align: end;
    width: 500px;
}

.game-stats_score {
    float: left;
    height: 100%;
    text-align: center;
    width: 200px;
}

.game-stats_score_counter{
    font-size: 2.5rem;
}

.game-stats_score_timer{
    color: rgb(206, 206, 206);
    font-size: 1.4rem;
}

.game-map {
    background: white;
    border: 5px solid black;
    height: 600px;
    position: relative;
    width: 1200px;
}

.building {
    background: url(./img/wall.png);
    background-size: cover;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 2;
}

.repairIcon {
    animation: rotateIcon 5s linear infinite;
    background: url(./img/repair.png);
    background-size: cover;
    height: 24px;
    margin: 13px 0 0 13px;
    position: absolute;
    width: 24px;
    z-index: 1;
}

.fuelIcon {
    animation: rotateIcon 5s linear infinite;
    background: url(./img/fuel.png);
    background-size: cover;
    height: 24px;
    margin: 13px 0 0 13px;
    position: absolute;
    width: 18px;
    z-index: 1;
}
    @keyframes rotateIcon {
        from { transform: rotateY(0deg) }
        to { transform: rotateY(360deg) }
    }


.tank1, .tank2{
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    transition: top 1s, left 1s;
    z-index: 2;
}

.tank1 { background-image: url("img/tank1.png") }
.tank2 { background-image: url("img/tank2.png") }

/* .barricade {
    position: absolute;
    width: 10px;
    height: 50px;
    background: black;
} */

.missile {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}
